/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
/*header&footer*/
.fs-4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #820000;
}

svg {
  fill: #820000;
}

.nav-pills .nav-link,
.nav-pills .dropdown-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #820000;
  background-color: #820000 transparent;
}

.nav-link:hover,
.nav-pills .dropdown-item:hover {
  color: #4e6c50;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover {
  background-color: #820000;
  color: #f2deba;
}

footer .nav .nav-link {
  color: #820000;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
}

footer .nav .nav-link:hover {
  color: #4e6c50;
}

/*homepage*/
#hpage_body,
#reviews_body {
  background-color: #faecd6;
}

.py-5,
#myCarousel {
  margin: 0 auto;
}

/* popup in homepage */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.popup-content {
  padding: 14px 10px;
  line-height: 1.5;
  width: 60%;
  margin: auto;
}

.popup-onload {
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
}

.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 400px;
  margin: 100px auto;
  background-image: url(../images/popbg-steakhouse.jpg);
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  text-align:center;
}

.cnt223 h2{
  color: #820000;
  font-family: "Open Sans", sans-serif;
  clear: both;
  font-weight: 800;
  font-size: 35px;
}

.popup-content a{
  color: #f2deba;
  font-weight: bold;
  text-decoration: none;
}



/*hero and feature*/
.btn {
  background-color: #820000;
  color: #f2deba;
  border-color: transparent;
  font-family: "Lato", sans-serif;
}

#hpage_body .btn a{
  text-decoration: none;
  color: #f2deba;
  font-family: "Lato", sans-serif;
}

.btn:hover {
  background-color: #4e6c50;
  border-color: #820000;
  color: #f2deba;
}

#hpage_hero h1,
.feature h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #820000;
}

.feature p,
#hpage_hero p {
  font-family: "Lato", sans-serif;
}

/* carousel */
#hpage_body .carousel-item img {
  width: 100%;
  height: 10%;
}

#hpage_body .carousel-caption h1,
#hpage_body .carousel-caption p {
  font-family: "Lato", sans-serif;
  color: #faecd6;
}

#hpage_body .carousel-caption h1 {
  font-weight: 700;
}

/*Review*/

.review {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.review h1, .psrminigame {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #820000;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.review h1 span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: linear-gradient(to left, #4e6c50, #820000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}

.review .review_box {
  width: 95%;
  position: relative;
  top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.review .profile .profile_image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.review .profile .profile_image:hover {
  transform: scale(1.2);
}

.review .profile_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.review .profile {
  display: flex;
  align-items: center;
}

.review .review_box .review_card {
  width: 500px;
  padding: 20px 25px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.review .review_box .review_card .card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review .review_box .review_card .card_top .profile .name {
  margin-left: 20px;
  line-height: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #820000;
}

.review .review_box .review_card .card_top .profile .name strong {
  font-size: 20px;
}

.review .review_box .review_card .card_top .profile .name .like i {
  color: orange;
  display: inline-block;
  font-size: 12px;
}

.review .review_box .review_card .comment p {
  text-align: justify;
  line-height: 22px;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  color: #4e6c50;
}

/* minigames in reviews */
.psrminigame{
  font-size: 30px;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  transition: 100ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: #820000;
}

.result-score {
  margin-left: .1rem;
  font-size: .5rem;
  color: #333;
}

.result-selection {
  opacity: .5;
}

.result-selection.winner {
  opacity: 1;
  font-size: 1.5rem;
}

/*DANIEL
/* I ADDED A "D" BEFORE EACH ID CREATED TO MAKE SURE THE OTHER CSS PROPERTIES UPLOADED BY MY TEAM DON'T BREAK MY CODE */

 #dbody.contact::before { /* USED TO MAKE SURE THE BACKGROUND IMAGE WON'T MOVE WHILE THE USER IS SCROLLING */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../images/background3.jpg'); /*https://www.woodwardmeats.com/static/img/bg-wholesale-feature.e29dcc7d9707.jpg*/
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#dbody {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#dfs-4 {
    color: #F2DEBA;
}

#dicon {
    fill: #820000;
}

#dnav-pills #dnav-link {
    color: #F2DEBA;
}

#dnav-pills #dnav-link:hover {
    color: #820000;
}

#dnav-pills #dnav-link.active,
#dnav-pills #dnav-link.active:hover {
    background-color: #820000;
    color: #F2DEBA;
}

#dnav-item,
#dnav-link active {
    color: #820000;
}

.nav.flex-column .nav-link,
.nav.flex-column .nav-link:hover {
    color: #F2DEBA;
    text-decoration: none;
}

#dh {
    font-family: 'Open Sans', sans-serif;
    color: #820000;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #820000;
}

#dp {
    font-family: 'Raleway', sans-serif;
    color: #F2DEBA;
    font-weight: bold;
}

#dform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#dtable {
    font-family: 'Raleway', sans-serif;
    color: #F2DEBA;
    font-weight: 1000;
}

.dtable-spacing td {
    padding: 7px;
}

input,
textarea,
select {
    background-color: transparent;
    color: #F2DEBA;
    font-weight: bold;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.set {

    display: flex;
}

#copyright {
    color: #F2DEBA;
}

select:focus {
    color: black;
}

#dfooter #dnav #dnav-link {
    color: #F2DEBA;
}

#dfooter #dnav #dnav-link:hover {
    color: #820000;
}
/* menu */
#menu_body{
    background-color: #FAECD6;
    font-family: 'Lato', sans-serif;
}
.menu_title h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #820000;
    font-size: calc(1.425rem + 2.1vw);
}
#menu_heading_drinks, #menu_heading_dishes, #menu_heading_desserts{
    font-weight: 800!important;
    color: #820000;
    line-height: 1!important;
}
#menu_subheading_drinks, #menu_subheading_dishes, #menu_subheading_desserts{
    font-weight: 300!important;
    font-size: 20px !important;
}
#menu_image_drinks{
  width: 100%;
  height: 570px;
  object-fit: cover;
}
#menu_image_dishes{
    width: 100%;
    height: 570px;
    object-fit: cover;
}
#menu_image_desserts{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
/* gallery*/
.gallery_body{
    background-color: #FAECD6;
    font-family: 'Lato', sans-serif;

}
.gallery_title h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #820000;
    font-size: calc(1.425rem + 2.1vw);
}  
.gallery_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor:pointer;
    border-radius: 8px;

}
.thumbnail:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(78,108,80,0.9);
}
  
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modal-content img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}
  
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #F2DEBA;
    padding: 10px 0;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
  }
  
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #820000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,.close:focus {
    color:#FAECD6;
    text-decoration: none;
    cursor: pointer;
}

/* Jefferson's source CSS code*/

/* CSS source code base for About Us page*/
#about{
    background-image: url('../images/steak2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;    
}
/* CSS source code for Awards page */
#award{
    background-image: url('../images/award3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
    margin: 0;
    padding: 0;
    
}
/* Font customization */
#award h1, #about h1{
    font-family: 'Open Sans', sans-serif;
    color: #F2DEBA;
    font-size: 500%;
}

#award p, #about p{
    font-family: 'Raleway', sans-serif;
    color: #F2DEBA;
    font-size: 160%;
}
/* CSS source code for Text Animation in About Us and Awards pages */
.fade-in-text {
    animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
 /* Footer customization */
#jeff footer{
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    } 
